body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 20px;   
    padding-bottom: 80px; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.small-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

span {
    display: block;
}

.recipe-image {
    width: 500px; /* Fixed width */
    height: 650px; /* Fixed height */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}


h1 {
    color: #1e3764;
    font-size: 28px;
    margin-bottom: 10px;
}

.image-span-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.recipe-meta {
    display: flex;
    flex-direction: column;
}

.container-header, .ingredient-header {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.ingredient-header{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}


.container-header h3, .ingredient-header h2 {
    color: #1e3764;
    margin-bottom: 10px;
}

.nutrition h3 {
    color: #1e3764;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

ul, ol {
    padding-left: 20px;
    margin: 0;
}

li {
    margin-bottom: 10px; /* Space between items */
}

ol li {
    list-style-type: decimal; /* Use decimal numbers */
}

em {
    font-style: italic;
    color: #555; /* Slightly lighter color for emphasis */
}
.go-back-button {
    position: fixed; 
    bottom: 20px; 
    left: 20px; 
    padding: 10px 20px;
    background-color: #1e3764; 
    color: white;
    text-decoration: none; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s; 
    z-index: 1000; 
}

.go-back-button:hover {
    background-color: #154052; 
    transform: scale(1.05); 
}

.go-back-button:active {
    transform: scale(0.95); 
}



/* Additional styles for better responsiveness */
@media (max-width: 768px) {
    .container, .container-bottom {
        grid-template-columns: 1fr; /* Stack on smaller screens */
    }
}
